*{padding:0; 
    margin:0; font-family: 
    sans-serif;
}

/* Header section start */
.header{ height: 70px; 
    width: 100%; 
    display: flex; 
    align-items: center;
}
.header .lg-logo img{ 
    width: 80px;
}
.header .lg-logo{
    width: 10%;
}
.header .nav-links{
    width: 88%;
}
.header a{
    text-decoration: none; 
    color: black; 
    margin: 5px;  
    padding: 10px; 
}
.header .nav-links .row1{
    display: flex; 
    justify-content: space-between; 
    border-bottom: 0.4px solid lightgray;
    padding-bottom: 7px;margin-top:40px;
}
.header .nav-links .row2{
    display: flex; justify-content:space-between; 
    padding-top: 15px;
    border-bottom: 0.4px solid lightgray;
    padding-bottom: 15px;
}

/* Header Section End */

.middle{
    width:100%;margin:auto;margin:left;
    margin:right;
    text-align:center;
}
.middle h2{
    font-size:30px;
}
.middle p{
    padding-top:20px;
    
}
.img{width:95%;
    background-image:url("../img/africa-homeappliances-hero-1-d.jpg");
    background-size:contain;height:500px;margin-top:40px;background-repeat: no-repeat;
    height:600px;
    margin: auto;
}
.img h2{
    color:white;padding-top:150px;
    padding-left:940px;
}
.img p{
    color:white;padding-left:940px;
    font-size: 14px;padding-top:10px;

}
.img  button{
    color:white;
    background-color: rgb(240, 38, 72); 
    padding:10px;margin-left:800px;  
}
.hm h2{
    text-align:center;
}
.section{
    width:95%;display:flex;margin:auto;
    background-color: rgb(245, 241, 241);
    height: 550px;
}
.section .col img{
    width:300px;
}
.section .col{
    margin:auto;
    margin-top:50px;border-radius:8px;
    height:450px;background-color: white;
}
.section .col h3{
    text-align: center;padding:25px;
}
.section .col p{
    text-align:center;
}
.our h2{
    text-align:center;
}
.section1{
    width:80%;display:flex;margin:auto;
}
.section1 .col1 img{
    width:150px;
}
.section .col1{margin:auto;
}    
.section1 button{background-color:rgb(158, 33, 33);
    color:white;padding:5px;width: 150px;
    height: 50px;border-radius: 5px;

}
.section2{
    width:95%;margin:auto;
    
}
.section2 .img1{
    background-image: url(../img/africa-homeappliances-supercategory-5\(1\).jpg);
    height:700px;background-repeat: no-repeat;
    background-size: cover;
}
.section2 h2{
    color:white;padding-left:800px;
    padding-top:300px;   
}
.section2 p{
    color:white;padding-left:800px;
}
.section2 .img2{
    background-image: url(../img/africa-homeappliances-supercategory-6\(1\).jpg);
    height: 700px;background-repeat: no-repeat;
    padding-left: 30px;
    background-size: cover;
}
.section2 button{
    padding:10px;
    background-color: rgb(158, 33, 33);
    margin-left:800px;width: 150px;
    height: 45px;
}
.section3 h2{
    text-align:center;
}
.section3 p{
    text-align:center;font-size:12px;
}
.section4{
    width:88%;display:flex;
}
.section4 .ft{
    width:70px;margin:auto;
}
